<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parser app</title>
</head>
<body>
    <p>For the provided url: {{ object.url_address }}</p>

    {% if not object.words_occurrences.items %}
        <p>No keywords have been found</p>
    {% else %}
        <p>Following keywords have been found:</p>
        <ul>
            {% for key, value in object.words_occurrences.items %}
                <li>Keyword {{key}} occurred {{value}} times</li>
            {% endfor %}
        </ul>
    {% endif %}

    <small>
        Ready for a new search?
        <a href="{% url 'url-create' %}">New one</a>
    </small>


</body>
</html>